* {
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-o-transform-origin: 0 0;
}

html, body {
	margin: 0;
	padding: 0;
	width:100%;
	height:100%;
}

body {
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;    
}

html {
	overflow:hidden;
}

.debuglabel {
	width:4px;
	height:4px;
	background-color:red;
	position:absolute;
	margin-left:-2px;
	margin-top:-2px;
}