html {
    background-color:#eee;
}

#content, #viewport {
	width:800px;
    height:600px;
}

#viewport {
	background-color: white;
	
	/* for the scrollbar */
	padding-right:15px;

    /* this needs to have some kind of positioning, absolute
       or relative */
	position:relative;
	
	margin-left:auto;
	margin-right:auto;
	margin-top:35px;
	-webkit-box-shadow: 0 0px 10px rgba(0,0,0,0.2);
    
    overflow-y:scroll;
}

.item {
    float:left;
    background-color:#eee;
	width:320px;
	height:110px;
	margin:20px;
	padding:20px;
}