/* these are not necessary */

html {
    background-color:#eee;
}

#container {
	margin:0;
    padding:0;
    width:800px;
    height:600px;
    position:relative;
}

#outerContainer {
	margin:0;
    padding:0;
    width:815px;
	height:600px;
	background-color: white;
	margin-left:auto;
	margin-right:auto;
	margin-top:35px;
	-webkit-box-shadow: 0 0px 10px rgba(0,0,0,0.2);
    overflow-y:scroll;
}

.item {
    float:left;
    background-color:#eee;
	width:320px;
	height:110px;
	margin:20px;
	padding:20px;
}